@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: "Source Sans 3", serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transition: .2s ease;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    padding-top: 35px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 36px;
    border-bottom: #888888 1px solid;
}

.contact-inner {
    display: flex;
    text-align: end;
    gap: 40px;
}

.contact-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #333333;
}

.contact-link {
    font-size: 20px;
    font-weight: 600;
    line-height: 28.48px;
    color: #607CE6;
}

/* NAV */

.nav {
    padding-top: 16px;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    gap: 44px;
}

.nav-link {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.nav__contact-inner {
    display: flex;
    align-items: center;
    gap: 4px;
}

.contact-tel {
    color: #607CE6;
    text-transform: uppercase;
}

/* MAIN */

.main {
    margin-top: 80px;
}

.main-text-info {
    display: flex;
    gap: 20px;
}

.main-title {
    max-width: 580px;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    color: #333333;
}

.main-disc {
    margin-top: 26px;
    max-width: 379px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #333333;
}

.main-img {
    margin-top: 32px;
}

/* SECTIONS */

.about-the-company {
    margin-top: 80px;
}

.about-the-company-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: #333333;
}

.about-the-company-text-inner {
    margin-top: 32px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.about-the-company-disc {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #333333;
}

.about-the-company-disc2 {
    margin-top: 24px;
}

.about-the-company-img-inner {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-the-company-img {
    max-width: 580px;
}

.products {
    margin-top: 80px;
}

.products-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: #333333;
}

.products-inner {
    margin-top: 32px;
    display: flex;
    gap: 20px;
}

.products-item {
    padding-top: 32px;
    padding-left: 24px;
    background-color: #F5F5F5;
}

.products-item3 {
    padding-top: 55px;
}

.product-img {
    padding-right: 156px;
}

.product-item-title {
    margin-top: 107px;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    color: #333333;
}

.products-link {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #607CE6;
    padding-bottom: 32px;
}

.products-item2 {
    margin-top: 25px;
}

.product-item-title-margin2 {
    margin-top: 152px;
}

.product-item-title-margin3 {
    margin-top: 166px;
}

.product-item-title-margin4 {
    margin-top: 160px;
}

.product-item-title-margin5 {
    margin-top: 143px;
}

.product-item-title-margin6 {
    margin-top: 163px;
}

.representative-offices {
    margin-top: 80px;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: #333333;
}

.representative-offices-img {
    margin-top: 32px;
}

.news {
    margin-top: 80px;
    margin-bottom: 80px;
}

.news-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: #333333;
}

.news-inner {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.news-card {
    max-width: 380px;
    background-color: #F5F5F5;
}

.card-disc {
    margin-top: 16px;
    padding-left: 16px;
}

.link-and-date-card {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 83px;
    padding-bottom: 24px;
}

.card-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #607CE6;
}

.card-date {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #888888;
}

.footer {
    background-color: #333333;
    padding-top: 56px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-links {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}

.footer-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: white;
}

.footer-column-link {
    display: grid;
    gap: 24px;
}

.footer-disc {
    text-align: center;
    margin-top: 73px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: white;
    padding-bottom: 24px;
}